.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.photo {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 350px;
  height: 320px;
  object-fit: fill;
  margin-bottom: 20px;
  overflow: hidden;
}
